/* ===== NAVIGATION ===== */
nav {
    background-color: darkblue;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    /* REQUIRED */
}

/* ===== HEADER ===== */
header {
    background-color: darkblue;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: white;
}

/* ===== MAIN ===== */
main {
    max-width: 900px;
    /* REQUIRED */
    margin: 20px auto;
    padding: 20px;
    background-color: white;
}

/* ===== MAIN IMAGE (REQUIRED) ===== */
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

/* ===== ASIDE (REQUIRED) ===== */
aside {
    width: 200px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    /* REQUIRED */
    height: auto;
}

/* ===== PARAGRAPHS ===== */
p {
    padding: 0;
    /* REQUIRED */
}

/* ===== FOOTER ===== */
footer {
    margin-top: 20px;
    /* REQUIRED */
    border-top: 1px solid #ccc;
    /* REQUIRED */
    text-align: center;
    /* REQUIRED */
    background-color: darkblue;
    color: white;
    padding: 15px;
}