/* NAVIGATION */
nav {
    background-color: darkblue;
    padding: 10px;
    text-align: center;
    /* центруємо лінки */
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    /* робить лінки горизонтальними */
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    /* легке округлення */
}

nav a:hover {
    background-color: #002b80;
    /* темніший синій при наведенні */
}

/* HEADER */
h1 {
    color: darkblue;
    text-align: center;
    margin-top: 20px;
}

/* IMAGE */
img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    display: block;
    margin: 20px auto;
    /* центруємо фото */
}

/* PARAGRAPHS */
p {
    padding: 10px;
    font-size: 18px;
    line-height: 1.5;
    max-width: 700px;
    margin: 0 auto;
    /* центруємо текст */
}