/* NAVIGATION */
nav {
    background-color: darkblue;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    /* REQUIRED BY AUDIT */
}

/* HEADER */
header {
    background-color: darkblue;
    color: white;
    padding: 20px;
    text-align: center;
}

/* MAIN */
main {
    background-color: white;
    padding: 20px;
    max-width: 900px;
    /* REQUIRED */
    margin: 20px auto;
    border-radius: 8px;
}

/* MAIN IMAGE (REQUIRED BY AUDIT) */
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

/* ASIDE (REQUIRED BY AUDIT) */
aside {
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #eee;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

/* FOOTER */
footer {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}